@use '_variables' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	font-family: $primaryFont;
	background: $primaryRed;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media only screen and (min-width: 1440px) {
		flex-direction: row;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-image: url(../images/bg-intro-mobile.png);
		background-size: cover;
		background-repeat: no-repeat;

		@media only screen and (min-width: 1440px) {
			background-image: url(../images/bg-intro-desktop.png);
			background-size: cover;
		}
	}
}
