$primaryRed: hsl(0, 100%, 74%);
$buttonGreen: hsl(154, 59%, 51%);
$buttonHover: hsl(154, 65%, 68%);
$sectionBlue: hsl(248, 32%, 49%);
$focusColorBlue: hsl(248, 33%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);
$textWhite: #ffffff;
$formShadowColor: rgba(0, 0, 0, 0.14688);
$buttonShadow: rgba(0, 0, 0, 0.0908818);
$inputBorderColor: #dedede;

$primaryFont: 'Poppins', sans-serif;
